@font-face {
  font-family: "euclid";
  src: url(../public/EuclidCircularALight.ttf);
}


body {
  margin: 0;
  font-family: "euclid";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(37, 72, 63);
  color: antiquewhite;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


